@font-face {
  font-family: "Mplus";
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  src: url("../../fonts/m-plus-1p.woff2"), url("../../fonts/m-plus-1p.woff");
}

@font-face {
  font-family: "Mplus Bold";
  font-weight: bold;
  font-display: swap;
  font-style: normal;
  src: url("../../fonts/m-plus-1p-500.woff2"), url("../../fonts/m-plus-1p-500.woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  src: url("../../fonts/raleway.woff2"), url("../../fonts/raleway.woff");
}

@font-face {
  font-family: "Raleway Bold";
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  src: url("../../fonts/raleway-500.woff2"), url("../../fonts/raleway-500.woff");
}
